@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}

body {
  background-color: #fff;
}

.container {
  width: 640px;
  margin: auto;
  display: flex;
  margin-top: 10px;
}

aside {
  flex: 1;
  padding: 20px;
  background-color: #ccc;
}

.start-game {
  width: 100%;
  height: 40px;
  cursor: pointer;
  border-radius: 5px;
  color: #fff;
  border: none;
  transition: 0.3s;
  background-color: #8a46f0;
}

.start-game:hover {
  opacity: 0.7;
}

.start-game.disabled {
  opacity: 0.4;
  pointer-events: none;
}

.panel p {
  font-size: 24px;
  margin-top: 20px;
}

.panel p span {
  display: block;
  text-align: center;
}

.board {
  border-collapse: collapse;
}

tr {
  background-color: #8a46f0;
}

td {
  width: 40px;
  height: 40px;
  text-align: center;
  border: 4px solid #402170;
}

.snake {
  background-color: #9a00bd !important;
}

.snake-tail {
  background-color: #ff7b00 !important;
}

.food {
  background-color: #b78ff2 !important;
}

/* constrols */
.controls {
  position: absolute;
  right: 2px;
  bottom: 2px;
}
.controls div:nth-child(2) {
  display: flex;
}
.controls button {
  display: block;
  width: 70px;
  height: 70px;
  margin: 2px;
  margin: 2px;
  border: none;
  font-size: 1.5rem;
  border-radius: 5px;
  background-color: #b78ff2;
}
.controls #up {
  margin: 2px auto;
}

@media (max-width: 768px) {
  .container {
    max-width: 430px;
    margin-top: 0;
  }
  h1 {
    font-size: 1.25rem;
  }
  td {
    width: 28px;
    height: 28px;
    border-width: 3px;
  }
  aside {
    padding: 10px;
  }
  .panel p {
    margin-top: 10px;
    font-size: 1rem;
  }
}
